<form method="post">{% csrf_token %}
    {% if user.is_authenticated %}
    <p>Are you sure you want to delete this item ?? "{{ event }}"?</p>

    <input type="submit" value="confirm">
    {% else %}
    <p>You are not logged in</p>
    <a href="{% url 'accounts:login' %}">Log In</a>
    {% endif %}

</form>



