<h2> list of categories </h2>

<ul>

    {% for event in categories %}
   <li><a href="{% url 'eventsmng:events_by_category' %} "> {{ event.slug }} </a></li>

    {% endfor %}
</ul>
{% if events %}
<h2> list of event </h2>

<ul>

    {% for event in events %}

    <title>the list of events </title>
    <li><a href="{% url 'eventsmng:event-detail' event.id %}">{{event.title}}</a></li>
    <p>{{event.detail}} &nbsp;&nbsp;&nbsp;&nbsp; the date is :{{event.date}}</p>
    {% endfor %}
</ul>
{% else %}

<p>No event.</p>
{% endif %}
