{%load crispy_forms_tags %}

{% block content %}
<form method="post">{% csrf_token %}
    {{ form|crispy }}
    {% if user.is_authenticated %}
    <input type="submit" value="Update"/>
    {% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">Log In</a>
    {% endif %}
    <input type="submit" value="Update"/>
</form>

{% endblock %}