{%load crispy_forms_tags %}
<form method="post"> {% csrf_token %}
    {{form|crispy}}
    <!-- Specify fields to be displayed -->
    <h2>title of event:</h2>
    {{ event.title }}<br/>
    <h3>about:</h3> {{ event.detail }}<br/>

    <a href="{% url 'eventsmng:event-update' event.id %}"> Edit event </a>
    <br>
    <br>
    <a href="{% url 'eventsmng:event-delete' event.id %}">delete event</a>

</form>